<%- include('header.ejs') %>

<div class="container-fluid">
  <h1><span style="color: red;">Page not Found! </span>Please try Again Later..</h1>
  <img style="width: 100vw; height: 730px; border-radius: 1rem; border-style: solid;" src="/404.png" alt="error">
</div>

<%- include('footer.ejs') %>

      

      