<%- include('header.ejs') %>

<div class="container-fluid">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">hello! I'm <b>Sanjay</b>.</h2><br>
      <h3>I'm a Machine learning Enthusiast, Studying in <em style="color: red;" >S.A.Engineering college</em> It's one of the instituions in south India. I have done my schooling in <b>Nazareth Matriculation Higher Secondary school</b> in Avadi. <br>I have learnt many programming languages such as <ul><br><li>Python</li><br><li>Javascript</li><br><li>C++</li><br></ul></h3>
    </div>
    <div class="col-md-5">
     <img src="/cat.png" style="border-radius: 2rem; border-style: solid;"><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
    </div>
  </div> 
</div>

<%- include('footer.ejs') %>

      

      