<%- include('header.ejs') %>

<div class="container-fluid">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">hello!<b>  Welcome to My Portfolio</b>.</h2><br>
      <h3> My self <b>Chidambaram Baskaran.</b> I'm 19 years old, I'm persuing 2nd year under the Degree of <b>AIML</b> under "UG" Program. I'm proud to be here with you to give reference about me, for further enquiry Please contact. <br><br>I can show up some of my skills and knowledges as listed below: <ul><br><li>Web Development</li><li>Machine Learning Engineer</li><li>Software Development</li><li>Cloud Computing</li><li>Ethical Hacking</li></ul></h3>
    </div>
    <div class="col-md-5">
     <img src="/lion.png" style="border-radius: 2rem; border-style: solid;"><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
    </div>
  </div> 
</div>

<%- include('footer.ejs') %>

      

    